/* button {
  width: 70px;
  height: 35px;
} */

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
}

.right-panel {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
}

.panel-item {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  padding-bottom: 10px;
}

/* .colorpicker {
  display: flex;
  flex-direction: column;
} */

.sketch-picker {
  position: absolute;
  top: 15%;
  right: 2%;
}

.right-panel > div > button,
p {
  margin: 0 1rem;
}

.colorpicker > div {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.button-object {
  margin-left: 20px;
}

.custom-slider {
  margin-left: 15px;
}

.object-buttons button{
  margin-left: 5px
}

/* CSS */
.nav-button > a{
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.nav-button > a:focus {
  text-decoration: none;
  color: white;
}

.nav-button > a:hover {
  text-decoration: none;
  color: white;
}

.nav-button > a:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
  color: white;
}

.nav-button > a:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
  color: white;
}

@media (min-width: 768px) {
  .nav-button {
    /* padding: 12px 50px; */
  }
}

.pressed {
  background: #0d6efd !important;
  color: white !important;
}

.originX > input {
  margin-left: 10px;
}

.originY > input {
  margin-left: 10px;
}

#canvas {
  /* margin: 20px 20px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
