/* button {
  width: 70px;
  height: 35px;
} */

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
}

.right-panel {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
}

.right-panel div {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid black;
}

.right-panel > div > button {
  margin: 0 1rem;
}

#canvas {
  /* margin: 20px 20px; */
  border: 1px solid black;
}
